.container
  .flash
  = render 'layouts/sidemenu'
  .chats
    .chats__info
      .chats__info__left
        .chats__info__left__group
          = "#{ @group.name }グループ"
        .chats__info__left__members
          Members:
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group) do
        .chats__info__edit
          .chats__info__edit__text
            Edit
    .chats__list
      = render partial: 'layouts/group_message', collection: @messages
    .chats__form
      = form_for [@group, @message] do |f|
        = f.text_area :text, class: "chats__form__text", placeholder: "type a message"
        = f.label "", class: "chats__form__icon" do
          %i.fa.fa-image
        = f.submit "Send", class: "chats__form__submit"
