.container
  .menu
    .menu__user
      .menu__user__name
        = current_user.name
        .menu__user__name__icons
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_registration_path(current_user) do
            %i.fa.fa-cog
    .menu__groups
      - current_user.groups.each do |group|
        .menu__groups__group
          .menu__groups__group__name
            = group.name
          .menu__groups__group__info
            新着メッセージはありません
  .chats
    .chats__info
      .chats__info__left
        .chats__info__left__group
          Hello World!グループ
        .chats__info__left__members
          Members:
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group) do
        .chats__info__edit
          .chats__info__edit__text
            Edit
    .chats__list
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
    %form.chats__form
      %textarea{class: "chats__form__text", placeholder: "type a message"}
      %label.chats__form__icon
        %i.fa.fa-image
      %input{type: "submit", value: "Send", class: "chats__form__submit"}
